{{!-- <!--====== HEADER PART START ======-->
    
    <header id="header-part">        
        <div class="navigation navigation-2 navigation-3">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-11 col-md-10 col-sm-9 col-9">
                        <nav class="navbar navbar-expand-lg">
                                
                            <a class="navbar-brand" style="margin-right: 80px;" href="index-4.html">
                                <i class="fa fa-graduation-cap active"> COURSIN</i>                  
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="active" href="">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="">Tất cả</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="">Học sinh - Sinh viên</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="about.html">Người đi làm</a>
                                    </li>
                                </ul>   

                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item"><a href="">Đăng kí</a></li>
                                <li class="nav-item"><a href="">Đăng nhập</a></li>
                                </ul>   
                        </nav> <!-- nav -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>  
    </header>
    
    <!--====== HEADER PART ENDS ======-->
   
    <!--====== SEARCH BOX PART START ======-->
    
    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>
    
    <!--====== SEARCH BOX PART ENDS ======-->
   
    <!--====== SLIDER PART START ======-->
    
    <section id="slider-part-3" class="bg_cover"  style="background-image: url(images/slider/s-3.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="slider-cont-3 text-center">
                        <h2>Tìm kiếm khóa học theo cách của bạn !!</h2>
                        <div class="slider-search mt-45">
                           <form action="#">
                                <div class="row no-gutters">
                                    
                                    <div class="col-sm-9">
                                        <input type="text" placeholder="Nhập từ khóa">
                                    </div>

                                    <div class="col-sm-3">
                                        <button type="button" class="main-btn">Tìm kiếm</button>
                                    </div>
                                </div> <!-- row -->
                            </form>
                        </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section> --}}